    * {
        margin: 0;
        padding: 0;
        font-family: "Figtree", serif;
        box-sizing: border-box;
    }
    body {
        background-color: #f4d04e;
    }
    .card {
        /* width && hight give in figma file */
        width: 384px;
        /* height: 565px; */
        background-color: #ffffff;
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: 8px 8px 0px 0px;
        padding: 1.2rem;
        /* margin: 3rem auto; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* justify-content: center; */
    }
    .card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-radius: 20px; */
    }
    .card-img img {
        border-radius: 10px;
        /* margin-bottom: 1.2rem; */
    }
    .card-text {
        margin-top: 1.2rem;
        margin-left: 5px;
    }
    .card-text .yollow-bg {
        background-color: #f4d04e;
        padding: 4px 12px;
        border-radius: 4px;
        width: 90px;
    }  
    .card-text .yollow-bg:hover{
        background-color: black; 
        color: #ffffff;
    } 
    .card-text .Published {
        font-size: 14px;
        font-weight: 500;
        margin-top: .7rem;
        margin-bottom: 1rem;
    }
    .head-card {
        font-size: 24px;
        font-weight: 800;
        margin-top: .7rem;
        margin-bottom: 1rem;
    }
    .head-card:hover {
        color: #f4d04e;
    }
    .low-prag {
        color: #7f7f7f;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        margin-bottom: 1.5rem;
    }
    .author {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }
    .author img {
        width: 40px;
        border: 5px;
    }
    .author h4 {
        font-size: 14px;
        font-weight: 800;
        margin-left: 1rem;
    }
    /* 
    Media Queries :
    */
    @media screen and (max-width : 500px) {
        #card {
            width: 90px;
            margin: 3rem;
        }
    }